---
import Layout from "../layouts/Layout.astro";
import Card from "../layouts/CardLayout.astro";

const { frontmatter } = Astro.props;
import "/output.css";
---

<Layout
  title="Résistance! - Le jeu de rôle"
  description="Découvrez le jeu de rôle Résistance!"
  ><div class="card border rounded-xl border-yellow-600 text-center">
    <div class="card-body bg-blue-700 rounded-lg text-center">
      <h2 class="card-header text-white">Résistance!</h2>

      <p class="text-content2 text-white text-center">
        Résistance! est un jeu de rôle propulsé par l'Apocalypse où on incarne
        une cellule de rebelles en lutte contre un empire tyrannique.
      </p>

      <div class="card-footer">
        <a href="/resistance" class="btn btn-outline btn-block"> Infos </a>
      </div>
    </div>
  </div>
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-6">Résistance!</h1>

    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">À propos du jeu</h2>
      <p class="mb-4">Votre contenu à propos du jeu...</p>
    </section>
  </div>
</Layout>
