---
import Layout from "../layouts/Layout.astro";
import Card from "../layouts/CardLayout.astro";
import Projet from "../layouts/ProjetLayout.astro";
---

<Layout title="Résistance!">
  <main class="container mx-auto">
    <!-- Votre contenu ici -->
  </main>
</Layout>
